
# Ignore everything
*

# Except README.md, leaderboard.json, .gitignore and .github
!README.md
!leaderboard.json
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*

# Except directories and their contents in experiments/outputs that contain leaderboard.bundle
!experiments/
!experiments/outputs/
!experiments/outputs/_leaderboard.json
!experiments/outputs/*/
!experiments/outputs/*/leaderboard.bundle
